* {
  background-repeat: no-repeat;
}
$primary: #2b3a8f;

body {
  position: relative;
}

.nav-link {
  color: $primary !important;
}
.btn-primary {
  background-color: $primary !important;
}
.active {
  background-color: $primary !important;
  color: white !important;
}
.circle {
  position: absolute;
  right: 0px;
  z-index: -1;
  top: 0px;
  width: 50vw;
  height: 100vh;
  overflow: hidden;
  &::after {
    content: " ";
    display: block;
    position: relative;
    width: 100vh;
    height: 100vh;
    background-color: $primary;
    border-radius: 50%;
    right: -50vh;
    top: 0px;
  }
}
.form-signin {
  position: relative;
}
.small-circle {
  position: absolute;
  left: 0px;
  z-index: -1;
  top: 0px;
  width: 20vw;
  height: 20vw;
  overflow: hidden;
  &::after {
    content: " ";
    display: block;
    position: relative;
    width: 20vw;
    height: 20vw;
    background-color: $primary;
    border-radius: 50%;
    left: -10vw;
    top: 0px;
  }
}
footer {
  position: relative;
}
.footer-circle {
  width: 100vw;
  bottom: 0px;
  height: 50vh;
  top: initial;
  &::after {
    right: 0px !important;
    width: 100vw !important;
    height: 100vw !important;
    border-radius: 37% !important;
    bottom: -20vw !important;
  }
}
.navbar-brand {
  width: 3vw !important;
}
